/* styles.css */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Thay đổi độ trễ cho từng khối */
.fade-in-1 {
    animation-delay: 0s; /* Hiện ngay lập tức */
}

.fade-in-2 {
    animation-delay: 0.5s; /* Hiện sau 0.5 giây */
}

.fade-in-3 {
    animation-delay: 1s; /* Hiện sau 1 giây */
}

.fade-in-4 {
    animation-delay: 1.5s; /* Hiện sau 1.5 giây */
}

.fade-in-5 {
    animation-delay: 2.5s; /* Hiện sau 2 giây */
}

.fade-in-6 {
    animation-delay: 3s; /* Hiện sau 2 giây */
}

.fade-in-7 {
    animation-delay: 3.5s; /* Hiện sau 2 giây */
}

