@keyframes blink {
    0% {
      color: red;
    }
    25% {
      color: blue;
    }
    50% {
      color: green;
    }
    75% {
      color: yellow;
    }
    100% {
      color: red;
    }
  }
  
  .blink {
    animation: blink 1s infinite;
  }
  